{% extends 'base.html' %}
{% block title %}Customers{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1>Customers</h1>

<ul style="column-count: 4">
  {% for customer in customers %}
  <li><a href="/{{ customer.id }}/">{{ customer.fullName }}</a></li>
  {% endfor %}
</ul>

<form action="/search">
  <input type="text" name="q" id="q">
  <button class="btn btn-primary">Search</button>
</form>

 <a href="/best" class="btn btn-primary">Get Best Customers</a>  

{% endblock %}